.box {
    width: 1280px;
    height: 1626px;
}

.header {
    margin: 31.5px 330px;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}

.menu li {
    margin-right: 36px;
    margin-left: 36px;
}

.menu li a {
    color: #FF0000;
    text-decoration: none;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    text-align: center;
    margin: 48px 253px 38px;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin-right: 67.5px;
    margin-left: 67.5px;
}
.text1 {
    margin-bottom: 28px;
}
.text2 {
    margin-bottom: 66px;
}

.button-block {
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

.button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #FF0000;
    border-radius: 4px;
    border: none;
    padding-top: 18px;
    padding-right: 43.5px;
    padding-bottom: 17px;
    padding-left: 42.5px;
    margin-right: 544.5px;
    margin-left: 544.5px;
    margin-bottom: 42px;
}

.footer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: right;
    margin-top: 40px;
    margin-right: 105px;
    margin-bottom: 29px;
    margin-left: 105px;
}
